html, body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 0.9em;
}

#container {
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  align-items: center;
  border-bottom: solid lightgray 1px;
  white-space: nowrap;
}

#header > img {
  padding: 8px;
}

#header > h1 {
  color: #333;
  font-size: 120%;
  font-weight: normal;
  margin: 0;
  padding: 14px 17px 14px 0;
  text-shadow: white 0 1px 2px;
}

#devices {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.device > span {
  margin-right: 16px;
}

button {
  margin-left: auto;
}

small {
  text-align: center;
}

.device {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.status-icon {
  width: 24px;
  height: 24px;
  margin: 8px;
}

.status {
  margin: 8px;
  font-style: oblique;
}
